<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">HRHS Data App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/records">View records <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/entries">Make entries <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/updates">Update records <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin">Admin<span class="sr-only">(current)</span></a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="catalogMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Catalog
          </a>
          <div class="dropdown-menu" aria-labelledby="catalogMenu">
            <a class="dropdown-item" href="/catalog/student/view">View students</a>
            <a class="dropdown-item" href="/catalog/staff/view">View staff</a>
            <a class="dropdown-item" href="/catalog/courses">View courses</a>
          </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Entries
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
              <a class="dropdown-item" href="/entries/comment/add">Add comment</a>
              <a class="dropdown-item" href="/entries/comment/view">View comments</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/entries/attendance/add">Take attendance</a>
              <a class="dropdown-item" href="/entries/attendance/view">View attendance</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="admin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="admin">
              <a class="dropdown-item" href="/catalog/student/add">Add student</a>
              <a class="dropdown-item" href="/catalog/staff/add">Add staff</a>
              <a class="dropdown-item" href="/catalog/course/add">Add course</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/sheets/import">Import from spreadsheet</a>
              <a class="dropdown-item" href="/sheets/export">Export to spreadsheet</a>
            </div>
          </li> -->
      </ul>
    </div>
  </nav>