<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/dashboard') %>
        <%- include('../partials/messages') %>
        <h2>
            <%- `Logged in as ${data.email}` %>
        </h2>
    </body>
</html>