<html>
    <head>
        <% include('../partials/head') %>
    </head>
    <body>
        <div class="card">
            <div class="card-header">
                Login with Google
            </div>
            <div class="card-body">
                Log in with your DOE or HRHS Google account
                <a href="/auth/google" class="btn btn-primary">Click here to login with Google</a>
            </div>
        </div>
    </body>
</html>