<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/dashboard') %>
        <p>
            <a href="/entries/comment/list">View all comments</a>
        </p>
        <p>
            <a href="/entries/comment/add">Add comment</a>
        </p>
        <!-- <p>
            <a href="/entries/attendance/view">View attendance</a>
        </p> -->
        <p>
            <a href="/entries/attendance/add">Take attendance</a>
        </p>

        <%- include('../partials/tail') %>
    </body>
</html>