<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/dashboard') %>
        <%- include('../partials/messages') %>
        <p>
            <a href="/updates/student/add">Add a student</a>
        </p>
        <p>
            <a href="/updates/staff/add">Add staff</a>
        </p>
        <p>
            <a href="/updates/course/add">Add a course</a>
        </p>
        <p>
            <a href="/updates/import">Import data from spreadsheet</a>
        </p>

        <%- include('../partials/tail') %>
    </body>
</html>