<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/dashboard') %>
        <%- include('../partials/messages') %>
        <p>
            <a href="/entries/comment/list">View comments (list view)</a>
        </p>
        <p>
            <a href="/entries/comment/calendar">View comments (calendar view)</a>
        </p>
        <p>
            <a href="/entries/comment/add">Add comment</a>
        </p>
        <p>
            <a href="/entries/attendance/view/calendar">View your attendance book</a>
        </p>
        <p>
            <a href="/entries/attendance/add">Take attendance</a>
        </p>

        <%- include('../partials/tail') %>
    </body>
</html>