<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/dashboard') %>
        <p>
            <a href="/records/student/view/all">View full roster</a>
        </p>
        <p>
            <a href="/records/student/view">View student profile</a>
        </p>
        <p>
            <a href="/records/staff/view">View staff directory</a>
        </p>
        <p>
            <a href="/records/course/view">View course program</a>
        </p>

        <%- include('../partials/tail') %>
    </body>
</html>